<template>
  <div class="comments">
    <div class="comments__header">
      Comments
    </div>
    <div class="comments__input">
      <input
        class="comments__input__field"
        type="text"
        placeholder="Type up a sweet comment…"
        v-model="newComment"
      />
      <div class="comments__input__button" @click="putComment">
        Add Comment
      </div>
    </div>
    <div class="comments__list">
      <div
        class="comments__list__item"
        v-for="comment in comments"
        :key="comment.id"
      >
        <div class="comments__list__item__avatar">
          <img
            class="comments__list__item__avatar__icon"
            v-if="comment.user.picture_url"
            :src="comment.user.picture_url"
          />
          <img
            v-else
            class="comments__list__item__avatar__icon--default"
            src="../../assets/images/baseline_account_circle_black_48dp.png"
          />
        </div>
        <div class="comments__list__item__info">
          <div class="comments__list__item__info__header">
            <div class="comments__list__item__info__header__user">
              {{ comment.user.username }}
            </div>
            <div class="comments__list__item__info__header__date">
              {{ getFormattedDate(comment.created_at) }}
            </div>
          </div>
          <div class="comments__list__item__info__content">
            {{ comment.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import Api from "../../api";
import Comment from "../../interfaces/Comment";
import moment, { unitOfTime } from "moment";
export default Vue.extend({
  props: {
    videoId: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      comments: [] as Comment[],
      newComment: null as string | null
    };
  },
  async mounted() {
    await this.reset();
  },
  methods: {
    async reset() {
      await this.loadComments();
      this.sortComments();
    },
    async loadComments() {
      const { comments } = await Api.getVideoComments(this.videoId);
      this.comments = comments;
    },
    sortComments() {
      this.comments = this.comments.sort((commentA, commentB) => {
        const dateA = new Date(commentA.created_at);
        const dateB = new Date(commentB.created_at);
        return +dateB - +dateA;
      });
    },
    async putComment() {
      if (this.newComment === null) return;
      this.newComment = this.newComment.trim();
      if (this.newComment.length === 0) return;
      const { comment } = await Api.putVideoComments(
        1,
        this.videoId,
        this.newComment
      );
      this.comments = [comment].concat(this.comments);
      this.newComment = null;
    },
    getFormattedDate(date: string) {
      const commentMoment = moment(date);
      const now = moment();
      const units: unitOfTime.Diff[] = [
        "second",
        "minute",
        "hour",
        "day",
        "week",
        "month",
        "year"
      ];
      for (let i = 0; i < units.length - 1; i += 1) {
        if (now.subtract(1, units[i + 1]).isSameOrBefore(commentMoment)) {
          return this.getPluralizedDate(commentMoment, units[i]);
        }
      }
      return this.getPluralizedDate(commentMoment, "year");
    },
    getPluralizedDate(
      commentMoment: moment.Moment,
      singularUnit: unitOfTime.Diff
    ) {
      const diff = moment().diff(commentMoment, singularUnit);
      return `${diff} ${singularUnit}${diff !== 1 ? "s" : ""} ago`;
    }
  },
  watch: {
    async videoId() {
      await this.reset();
    }
  }
});
</script>
<style lang="scss" scoped>
@import "../../assets/constants.scss";
.comments__header {
  font-weight: 400;
  padding-bottom: 8px;
}
.comments__input__field {
  outline: none;
  border: 1px solid $moonglow--primary;
  width: 100%;
  padding: 12px 12px 36px 12px;
  box-sizing: border-box;
}
.comments__input__button {
  background-color: $orange;
  color: white;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-top: 8px;
}
.comments__input__button:hover,
.comments__input__button:active {
  background-color: $orange--secondary;
  cursor: pointer;
}
.comments__list {
  margin-top: 16px;
  display: grid;
  grid-gap: 16px;
}
.comments__list__item {
  display: grid;
  grid-template-columns: 48px auto;
  grid-gap: 8px;
}
.comments__list__item__avatar__icon--default {
  width: 48px;
  height: 48px;
  transform: scale(1.17);
}
.comments__list__item__avatar__icon {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}
.comments__list__item__info__content {
  word-break: break-word;
}
.comments__list__item__info__header {
  display: flex;
}
.comments__list__item__info__header__user {
  margin-right: 8px;
  font-weight: 400;
}
.comments__list__item__info__header__date {
  font-weight: 100;
  color: grey;
}
</style>
