<template>
  <div class="recommendations">
    <div
      class="recommendations__item"
      v-for="video in playlist"
      :key="video.id"
      :style="{ backgroundImage: `url(${video.thumb})` }"
      @click="onClickThumbnail(video)"
    />
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import api from "../../api";
import Video from "../../interfaces/Video";
export default Vue.extend({
  data() {
    return {
      playlist: [] as Video[]
    };
  },
  async mounted() {
    const { videos } = await api.getVideos();
    this.playlist = videos.sort((videoA, videoB) => videoA.id - videoB.id);
  },
  methods: {
    onClickThumbnail(video: Video) {
      this.$emit("selectVideo", video);
    }
  }
});
</script>
<style lang="scss" scoped>
@import "../../assets/constants.scss";
.recommendations {
  display: grid;
  grid-gap: 16px;
  justify-content: center;
}
.recommendations__item {
  width: 311px;
  height: 175px;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}
.recommendations__item:hover {
  cursor: pointer;
}
.recommendations__item:active {
  border: 4px solid $orange;
  box-sizing: border-box;
}
@media only screen and (max-width: $mobile--width) {
  .recommendations {
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-flow: column;
    align-items: center;
    height: 60px;
  }
  .recommendations__item {
    width: 100px;
    height: 57px;
  }
}
</style>
