<template>
  <div class="videos" v-if="activeVideo">
    <div class="videos__title">
      {{ this.activeVideo.title }}
    </div>
    <div class="videos__player">
      <video
        :src="this.activeVideo.video"
        type="video/mp4"
        width="100%"
        height="100%"
        controls
        :autoplay="autoplay"
      ></video>
    </div>
    <Recommendations
      class="videos__recommendations"
      @selectVideo="onSelectVideo"
    />
    <div class="videos__info">
      <div class="videos__info__views">
        {{ numViewsString }}
      </div>
      <div class="videos__info__thumbs">
        <div
          :class="{
            videos__info__thumbs__up: true,
            'videos__info__thumbs__up--selected': userRatingIsThumbsUp,
          }"
          @click="onClickThumbs('thumbs_up')"
        >
          <ThumbsUpIcon
            :class="{
              videos__info__thumbs__up__icon: true,
              'videos__info__thumbs__up__icon--selected': userRatingIsThumbsUp,
            }"
          />
          <div class="videos__info__thumbs__up__count">
            {{ ratings.thumbs_up }}
          </div>
        </div>
        <div
          :class="{
            videos__info__thumbs__down: true,
            'videos__info__thumbs__down--selected': userRatingIsThumbsDown,
          }"
          @click="onClickThumbs('thumbs_down')"
        >
          <ThumbsDownIcon
            :class="{
              videos__info__thumbs__down__icon: true,
              'videos__info__thumbs__down__icon--selected': userRatingIsThumbsDown,
            }"
          />
          <div class="videos__info__thumbs__down__count">
            {{ ratings.thumbs_down }}
          </div>
        </div>
      </div>
    </div>
    <Comments class="videos__comments" :videoId="activeVideo.id" />
  </div>
</template>
<script lang="ts">
import Vue from "vue"
import api from "../../api"
import Recommendations from "./Recommendations.vue"
import Video from "../../interfaces/Video"
import ThumbsUpIcon from "../../assets/images/thumbs_up.svg"
import ThumbsDownIcon from "../../assets/images/thumbs_down.svg"
import UserVideoRating from "../../interfaces/UserVideoRating"
import Rating from "../../interfaces/Rating"
import Comments from "./Comments.vue"
import numeral from "numeral"
export default Vue.extend({
  components: {
    Recommendations,
    ThumbsUpIcon,
    ThumbsDownIcon,
    Comments,
  },
  data() {
    return {
      userId: 1,
      activeVideo: null as Video | null,
      autoplay: false,
      ratings: { thumbs_up: 0, thumbs_down: 0 },
      userVideoRating: null as UserVideoRating | null,
    }
  },
  async mounted() {
    if (this.$route.params.id) {
      const videoId = parseInt(this.$route.params.id)
      await this.resetVideo(videoId)
    } else {
      let { videos } = await api.getVideos()
      videos = videos.sort((videoA, videoB) => videoA.id - videoB.id)
      const videoId = videos[0].id
      await this.resetVideo(videoId)
      await this.updateVideoIdInRoute()
    }
  },
  methods: {
    async resetVideo(id: number) {
      return Promise.all([
        this.loadVideo(id),
        this.loadRatings(id),
        this.loadUserVideoRating(this.userId, id),
      ])
    },
    updateVideoIdInRoute() {
      if (!this.activeVideo) return
      return this.$router.push({
        name: "Videos",
        params: { id: String(this.activeVideo.id) },
      })
    },
    async loadVideo(id: number) {
      const { video } = await api.getVideo(id)
      this.activeVideo = video
    },
    async loadRatings(id: number) {
      const { counts } = await api.getVideoRating(id)
      this.ratings = counts
    },
    async loadUserVideoRating(userId: number, videoId: number) {
      const { userVideoRating } = await api.getUserVideoRating(userId, videoId)
      this.userVideoRating = userVideoRating
    },
    async onSelectVideo(video: Video) {
      if (this.activeVideo?.id === video.id) return
      this.autoplay = true
      await this.resetVideo(video.id)
      await this.updateVideoIdInRoute()
    },
    async onClickThumbs(rating: Rating) {
      if (!this.activeVideo) {
        return
      }
      if (this.userVideoRating && this.userVideoRating.rating === rating) {
        const { counts } = await api.deleteUserVideoRating(
          1,
          this.activeVideo.id
        )
        this.userVideoRating = null
        this.ratings = counts
        return
      }
      const { userVideoRating, counts } = await api.putUserVideoRating(
        1,
        this.activeVideo.id,
        rating
      )
      this.userVideoRating = userVideoRating
      this.ratings = counts
    },
  },
  computed: {
    numViewsString(): string {
      if (!this.activeVideo) {
        return "0 views"
      }
      return this.activeVideo.views === 1
        ? `${this.activeVideo.views} view`
        : `${numeral(this.activeVideo.views).format("0,0")} views`
    },
    userRatingIsThumbsUp(): boolean {
      if (!this.userVideoRating) {
        return false
      }
      return this.userVideoRating.rating === Rating.thumbs_up
    },
    userRatingIsThumbsDown(): boolean {
      if (!this.userVideoRating) {
        return false
      }
      return this.userVideoRating.rating === Rating.thumbs_down
    },
  },
})
</script>
<style lang="scss" scoped>
@import "../../assets/constants";
.videos {
  font-size: 16px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 75% 25%;
  grid-template-rows: 36px 400px 36px;
  grid-template-areas:
    "title title"
    "player recommendations"
    "info ."
    "comments .";
}
.videos__title {
  grid-area: title;
  font-weight: 400;
  font-size: 24px;
}
.videos__player {
  grid-area: player;
  background-color: $midnight-gray;
}
.videos__recommendations {
  grid-area: recommendations;
  overflow-y: scroll;
}
.videos__info {
  grid-area: info;
  border-bottom: 1px solid $moonglow--primary;
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}
.videos__comments {
  grid-area: comments;
}
.videos__info__views {
  font-weight: 400;
}
.videos__info__thumbs {
  display: flex;
  color: $orange;
}
.videos__info__thumbs__up,
.videos__info__thumbs__down {
  display: flex;
}
.videos__info__thumbs__up:hover,
.videos__info__thumbs__down:hover {
  cursor: pointer;
}
.videos__info__thumbs__down {
  margin-left: 24px;
}
.videos__info__thumbs__up__icon,
.videos__info__thumbs__down__icon {
  width: 20px;
  height: 20px;
}
.videos__info__thumbs__up--selected,
.videos__info__thumbs__down--selected {
  color: $orange--secondary;
  fill: $orange--secondary;
}
.videos__info__thumbs__up__icon--selected,
.videos__info__thumbs__down__icon--selected {
  > * {
    fill: $orange--secondary;
  }
}
.videos__info__thumbs__up__icon {
  transform: translateY(1px);
}
.videos__info__thumbs__down__icon {
  transform: translateY(3px);
}
.videos__info__thumbs__up__count,
.videos__info__thumbs__down__count {
  min-width: 16px;
  margin-left: 4px;
}
@media only screen and (max-width: $mobile--width) {
  .videos {
    overflow-y: scroll;
    grid-gap: 8px;
    grid-template-areas:
      "title title"
      "player player"
      "info info"
      "recommendations recommendations"
      "comments comments";
    grid-template-rows: 36px auto 36px auto;
  }
}
</style>
