<template>
  <div class="footer">
    <FooterImage class="footer__image" />
  </div>
</template>
<script lang="ts">
import Vue from "vue"
import FooterImage from "../assets/images/powered_by_24g.svg"
export default Vue.extend({
  components: {
    FooterImage,
  },
})
</script>
<style lang="scss" scoped>
@import "../assets/constants.scss";
.footer {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__image {
  width: 116px;
}
@media only screen and (max-width: $mobile--width) {
  .footer {
    height: 32px;
  }
}
</style>
