<template>
  <div class="header">
    <div class="header__welcome">
      <div class="header__welcome__prefix">Welcome,</div>
      <div class="header__welcome__username">&nbsp;Steven Olthoff</div>
    </div>
    <div class="header__company">
      <CompanyLogo class="header__company__logo" />
      <div class="header__company__title">
        VIDEO PLAYER
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import CompanyLogo from "../assets/images/logos/24g_logo.svg";
export default Vue.extend({
  components: {
    CompanyLogo
  }
});
</script>
<style lang="scss" scoped>
@import "../assets/constants";
.header {
  width: 100%;
  color: white;
}
.header__welcome {
  background-color: $moonlight-blue--primary;
  display: flex;
  padding: 8px 36px;
}
.header__welcome__prefix {
  margin-right: 4px;
  font-weight: 100;
}
.header__welcome__username {
  font-weight: 400;
}
.header__company {
  background-color: $midnight-gray;
  display: flex;
  padding: 8px 36px;
  align-items: center;
}
.header__company__title {
  margin-left: 16px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 3px;
}
.header__company__logo {
  width: 100px;
  height: 100px;
  fill: white;
}
@media only screen and (max-width: $mobile--width) {
  .header__company {
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    font-size: 20px;
    height: 80px;
  }
  .header__company__logo {
    width: 70px;
    height: 70px;
  }
  .header__welcome {
    font-size: 20px;
    padding: 8px 12px;
  }
}
</style>
