$moonlight-blue--primary: #009ddb;
$moonlight-blue--secondary: #0685c1;
$midnight-gray: #393c3e;
$orange: #faa61a;
$orange--secondary: #e58c1b;
$moonglow--primary: #ebebeb;
$moonglow--secondary: #d1d1d1;
$mobile--width: 414px;

:export {
  $moonlight-blue--primary: $moonlight-blue--primary;
  $moonlight-blue--secondary: $moonlight-blue--secondary;
  $midnight-gray: $midnight-gray;
  $orange: $orange;
  $orange--secondary: $orange--secondary;
  $mobile--width: $mobile--width;
  $moonglow--primary: $moonglow--primary;
  $moonglow--secondary: $moonglow--secondary;
}
