<template>
  <div id="app">
    <AppHeader />
    <router-view class="app__content" />
    <AppFooter />
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import AppHeader from "./components/AppHeader.vue";
import AppFooter from "./components/AppFooter.vue";
export default Vue.extend({
  components: {
    AppHeader,
    AppFooter
  }
});
</script>
<style lang="scss">
@import "./assets/constants.scss";
@font-face {
  font-family: "Brandon";
  src: url("~@/assets/fonts/BRANDON_LIGHT.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Brandon";
  src: url("~@/assets/fonts/BRANDON_MED.otf");
  font-weight: 200;
}
@font-face {
  font-family: "Brandon";
  src: url("~@/assets/fonts/BRANDON_REG.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Brandon";
  src: url("~@/assets/fonts/BRANDON_BLD.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Brandon";
  src: url("~@/assets/fonts/BRANDON_BLK.otf");
  font-weight: 500;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: Brandon;
  font-weight: 300;
}
.app__content {
  flex: 1;
  overflow: auto;
  padding: 36px;
}
@media only screen and (max-width: $mobile--width) {
  .app__content {
    padding: 12px;
  }
}
html,
body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
}
</style>
